@using BulkyBook.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulkyBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BulkyBook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>

                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    User / Company
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders History</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null)
                        {
                            <li style="color:white;">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white;">
                                <a href="#" class="nav-link">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                </a>
                            </li>
                        }
                        <li>
                            <input class="form-control mr-sm-2" type="text" id="postTitle" placeholder="Search">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    @*<style>
        .slide-top {
            margin-top: 70px;
        }
    </style>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="py-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h4 style="font-weight:bold">VỀ CHÚNG TÔI</h4>
                    <hr />
                    <ul style="display:block;list-style:none;padding-left:0px;">
                        <li class="py-1"><a href="" class="text-muted">Giới Thiệu Về Nhà Sách</a></li>
                        <li class="py-1"><a href="" class="text-muted">Hệ Thống Nhà Sách</a></li>
                        <li class="py-1"><a href="" class="text-muted">Điều Khoản Sử Dụng</a></li>
                        <li class="py-1"><a href="" class="text-muted">Chính Sách Bảo Mật</a></li>
                        <li class="py-1"><a href="" class="text-muted">Chính Sách Bán Hàng</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4 style="font-weight:bold">TÀI KHOẢN CỦA BẠN</h4>
                    <hr />
                    <ul style="display:block;list-style:none;padding-left:0px;">
                        <li class="py-1"><a href="" class="text-muted">Đăng nhập</a></li>
                        <li class="py-1"><a href="" class="text-muted">Tạo tài khoản</a></li>
                        <li class="py-1"><a href="" class="text-muted">Danh Sách Yêu Thích</a></li>
                        <li class="py-1"><a href="" class="text-muted">Danh Sách So Sánh</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4 style="font-weight:bold">HỖ TRỢ KHÁCH HÀNG</h4>
                    <hr />
                    <ul style="display:block;list-style:none;padding-left:0px;">
                        <li class="py-1"><a href="" class="text-muted">Các Câu Hỏi Thường Gặp</a></li>
                        <li class="py-1"><a href="" class="text-muted">Chính Sách Đổi/Trả Hàng</a></li>
                        <li class="py-1"><a href="" class="text-muted">Quy Định Viết Bình Luận</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <h4 style="font-weight:bold">LIÊN HỆ</h4>
                    <hr />
                    <ul style="display:block;list-style:none;padding-left:0px;">
                        <li class="py-1"><a href="" class="text-muted">Hotline: 1900 6656</a></li>
                        <li class="py-1"><a href="" class="text-muted">Email:hotro@nhasachphuongnam.com</a></li>
                        <li class="py-1">
                            <a href="https://www.facebook.com/nhasachphuongnam" class="facebook" target="_blank"><i class="fab fa-facebook-square" style="font-size:30px"></i></a>
                            <a href="https://www.youtube.com/channel/UCfKPeM9cAbB5LxKSeth8Vjg" class="youtube" target="_blank"><i class="fab fa-youtube" style="font-size:30px"></i></a>
                            <a href="https://www.instagram.com/nhasachphuongnam.official/" class="vimeo" target="_blank"><i class="fab fa-instagram-square" style="font-size:30px"></i></a>
                            <a href="https://www.linkedin.com/company/cong-ty-co-phan-van-hoa-phuong-nam/" class="linkedin" target="_blank"><i class="fab fa-linkedin" style="font-size:30px"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <footer class="border-top footer text-white-50 bg-primary">
        <div class="container">
            &copy; 2020 - BulkyBook
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @RenderSection("Scripts", required: false)
    @*<script>
            $(document).ready(function () {
                $("#postTitle").autocomplete({
                    source: 'api/postapi/search'
                });
            });
        </script>*@

</body>
</html>
